<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Treking</title>
  </head>
  <body>
    <div id="app">
      
      <div>
        <button v-if="!showFavorites" v-on:click="toggleShowFavorite">show favorites</button>
        <button v-else v-on:click="toggleShowFavorite">hide favorites</button>

        <ul v-if="showFavorites && favoritesList.length >= 1">
          <li v-for="charactor in favoritesList"> {{charactor}}</li>
        </ul>
        <p v-if="showFavorites && favoritesList.length < 1" >No charactors added to favorites</p>
        
      </div>
      <hr/>
      
      <p v-if="!charactorList.length"> No charactors exist</p>
      <ul v-else>
        <li v-for="(charactor, index) in charactorList">
            {{charactor.role}}: {{charactor.name}} -- {{charactor.favorite}}
            <button v-if="charactor.favorite" @click="toggleCharFavorite(charactor)">Favorited</button>
                <button v-else="charactor.favorite" @click="toggleCharFavorite(charactor)">Like</button>
         
        </li>
      </ul>
      <hr/>
      <div>
        <h2>Add new Charactor</h2>
        
          <label for="name">name</label>
          <input type="text" v-model="newCharactor.name" >
          <label for="role">rank/role</label>
          <input type="text" v-model="newCharactor.role" @keyup.enter="addNewCharactor">
          
         
        <pre>{{newCharactor}}</pre>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue
    
      const app = createApp({
        
        data() {
          return {
            showTitle: 'Star Trek: TNG',
            showFavorites: false,
            newCharactor: {
              name: '',
              role: '',
              favorite: false
            },
            charactorList: [
              {
                "name": "Jean-Luc Picard",
                "role": "Captain",
                favorite: false
              },
              {
                "name": "William Riker",
                "role": "Commander",
                favorite: false
              },
              {
                "name": "Data",
                "role": "Lieutenant Commander",
                favorite: false
              },
              {
                "name": "Worf",
                "role": "Lieutenant Commander",
                favorite: false
              },
              {
                "name": "Geordi La Forge",
                "role": "Chief Engineer",
                favorite: false
              },
              {
                "name": "Deanna Troi",
                "role": "Counselor",
                favorite: false
              },
              {
                "name": "Beverly Crusher",
                "role": "Chief Medical Officer",
                favorite: false
              },
              {
                "name": "Wesley Crusher",
                "role": "Acting Ensign",
                favorite: false
              }
            ],
            favoritesList: []
          }
        },
        methods: {
          addNewCharactor(){
            this.charactorList.push(this.newCharactor)
            this.newCharactor = {
              name: '',
              role: '',
              favorite: false
            }
          },
          toggleShowFavorite() {
            this.showFavorites = !this.showFavorites;
            console.log('show favorites:', this.showFavorites)
          },
          toggleCharFavorite(charactor) {
            
            
            this.favoritesList.push(charactor.name)
            console.log('favoriteslist', this.favoritesList)
          }
        },
      })
      app.mount('#app')
    </script>
  </body>
</html>
